<az-navbar></az-navbar>
<div class="container-fluid">
    <div class="row">
        <az-menu></az-menu>
        <!--<az-sidebar></az-sidebar>-->
        <div class="main-wrapper" [ngClass]="{'menu-collapsed': isMenuCollapsed}">
            <div class="az-overlay" *ngIf="!isMenuCollapsed" (click)="hideMenu()"></div>

            <div class="main">
                <az-breadcrumb></az-breadcrumb>
                <router-outlet></router-outlet>
            </div>

            <footer class="footer text-center clearfix">
                <div class="footer-main pull-left  clearfix">
                    <div class="copyright pull-left">&copy; <a class="font-weight-bold" href="http://themeseason.com">Elecciones</a> 2021</div>
                    <ul class="share clearfix pull-left">
                        <li><a href="https://www.facebook.com/themeseason" target="_blank"><i class="socicon socicon-facebook transition"></i></a></li>
                        <li><a href="https://twitter.com/themeseason" target="_blank"><i class="socicon socicon-twitter transition"></i></a></li>
                        <li><a href="https://www.instagram.com/themeseason" target="_blank"><i class="socicon socicon-instagram transition"></i></a></li>
                        <li><a href="https://www.pinterest.com/themeseason" target="_blank"><i class="socicon socicon-pinterest transition"></i></a></li>
                    </ul>
                </div>
                <div class="pull-right created">Creado por Jorge Pazmiño <i class="fa fa-heart"></i></div>
            </footer>

            <az-back-top position="200"></az-back-top>

        </div>
    </div>
</div>