text {
  font-size: 1.4em;
  font-family: sans-serif;
}
.tick line {
  stroke: #c0c0bb;
}

/* the image grid formatting CSS below is based on https://codepen.io/mchernin34/pen/adqzpM */

.image-list-small {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 auto;
  text-align: center;
  max-width: 800px;
  padding: 0;
}

.image-list-small li {
  display: inline-block;
  width: 150px;
  margin: 0 2px 10px;
}

.image-list-small .details h3 {
  display: block;
  font-size: 12px;
  margin: 0 0 3px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.image-list-small .details .position {
  display: block;
  color: #717171;
  font-size: 11px;
  font-weight: normal;
  margin: 0;
}

.duplicate {
  border: 4px solid red;
}
