<div class="row">
  <div class="col-xl-12 col-lg-12 col-12 bottom-30">
    <div widget class="card">
      <div class="card-header">
        <span>Asignación de puestos hemiciclo</span>
        <div class="widget-controls">
          <a data-widgster="expand" href="#" class="transition"><i class="fa fa-chevron-down"></i></a>
          <a data-widgster="collapse" href="#" class="transition"><i class="fa fa-chevron-up"></i></a>
          <a data-widgster="close" href="#" class="transition"><i class="fa fa-times"></i></a>
        </div>
      </div>
      <div class="card-body widget-body">
        <svg></svg>
      </div>
    </div>
  </div>
</div>
