<div class="clearfix">
    <span class="text-uppercase pull-left here">Tu estas en:</span>
    <ol class="breadcrumb">
        <li *ngFor="let breadcrumb of breadcrumbs; let i = index;" class="breadcrumb-item text-uppercase">
            <a [hidden]="i == (breadcrumbs.length - 1)" [routerLink]="[breadcrumb.url]">{{breadcrumb.name}}</a>
            <span [hidden]="i != (breadcrumbs.length - 1)"><b>{{breadcrumb.name}}</b></span>
        </li>
    </ol>
</div>