<div class="">
  <h5 class="text-center">PROCESAMIENTO DE ACTAS DE ESCRUTIÑO</h5>
  <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
          [colors]="barChartColors" [legend]="barChartLegend" [chartType]="barChartTypeH"
          (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
  </canvas>
</div>
