<nav class="nav az-navbar fixed-top">
  <a class="navbar-brand" routerLink="/" (click)="closeSubMenus()">
    <img src="assets/img/logo/az_logo.png" alt="" class="d-md-block d-none">
    <img src="assets/img/logo/az_logo.png" alt="" class="d-md-none">
  </a>
  <div id="lines" class="transition" (click)="toggleMenu()"></div>

  <form role="search" class="app-search d-md-block d-none">
    <input type="text" placeholder="Search..." class="form-control">
    <a href="javascript:void(0)"><i class="fa fa-search"></i></a>
  </form>

  <ul class="nav right-section">
    <li class="nav-item">
      <az-messages></az-messages>
    </li>
    <li class="nav-item">
      <div class="dropdown float-right user-menu">
        <a class="dropdown-toggle user-link" data-toggle="dropdown" href="#" role="button" aria-expanded="false">
          <img src="assets/img/users/user.jpg" alt="user-img" class="img-circle user-img">
          <span class="d-lg-inline d-none">Jorge Pazmiño</span>
        </a>

        <ul class="dropdown-menu">
          <li class="user-info">
            <img src="assets/img/users/user.jpg" alt="user-img" class="img-circle user-img">
            <p>
              Jorge Pazmiño - Web Developer
              <small>Desde Dic. 2020</small>
            </p>
          </li>
          <a class="dropdown-item" routerLink="/pages/profile/projects"><i class="fa fa-user"></i>Profile</a>
          <a class="dropdown-item" routerLink="/"><i class="fa fa-cog"></i>Settings</a>
          <a class="dropdown-item" routerLink="/"><i class="fa fa-lock"></i>Lock screen</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" (click)="onLogout()"><i class="fa fa-power-off"></i>Log out</a>
        </ul>
      </div>
    </li>
  </ul>

</nav>
