<div class="login-container">
  <div class="col-xl-4 col-md-6 col-10 mx-auto">
    <div class="card">
      <div class="card-body text-center">
        <h2 class="card-title">Dashboard <br> Elecciones 2021</h2>
        <!-- <a routerLink="/register" class="btn btn-link transition bottom-15">Don't have an account? Sign up now!</a> -->

        <form #f="ngForm" (ngSubmit)="onSubmit(f)" class=" text-left">
          <div class="form-group">
            <input type="cedula" ngModel name="cedula" required #cedulaCtrl="ngModel" placeholder="Número de Cédula"
              class="form-control checking-field" autocomplete="on" />
            <!-- <span class="help-block text-danger" *ngIf="!cedulaCtrl.valid && cedulaCtrl.touched">Email is required</span> -->
            <span class="help-block text-danger" *ngIf="!cedulaCtrl.valid && cedulaCtrl.touched">Cédula inválida.</span>
          </div>
          <div class="form-group">
            <input type="password" placeholder="Contraseña" ngModel name="password" required minlength="6"
              #passwordCtrl="ngModel" class="form-control checking-field" autocomplete="on" />
            <!-- <span class="help-block text-danger"
              *ngIf="form.get('password').touched && form.get('password').hasError('required')">Password is
              required</span> -->
            <span class="help-block text-danger" *ngIf="!passwordCtrl.valid && passwordCtrl.touched">La contraseña debe
              tener mínimo 6 caracteres</span>
          </div>
          <div class="form-group d-flex justify-content-between">
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input checkbox-main" id="login-keep">
              <label class="custom-control-label" for="login-keep">Mantenerme logueado</label>
            </div>
            <a class="btn btn-link forgot transition pull-right" href="javascript:void(0);">¿Olvidó su contraseña?</a>
          </div>
          <div class="form-group">
            <button [disabled]="!f.valid" class="btn btn-main btn-block" type="submit">Ingresar</button>
          </div>
        </form>

        <span class="help-block text-danger" *ngIf="badCredentials" >No hemos podido verificar sus credenciales.</span>

        <!-- <div class="auth-sep"><span><span>or Sign in with one click</span></span></div>

        <div class="form-group">
          <ul class="login-help">
            <li><i class="socicon socicon-facebook transition"></i></li>
            <li><i class="socicon socicon-twitter transition"></i></li>
            <li><i class="socicon socicon-google transition"></i></li>
          </ul>
        </div> -->

      </div>
    </div>
  </div>
</div>
