<div class="row">
  <div class="col-xl-12 col-lg-12 col-12 bottom-30">
    <h3 class="text-center">ELECCIONES PRESIDENCIALES 2021
      INFORMACIÓN DE CONTROL ELECTORAL
       UNES</h3>
  </div>
</div>
<div class="row">
  <div class="col-xl-5 col-lg-5 col-12 bottom-30">
    <az-semiluna></az-semiluna>
    <az-queso></az-queso>
    <az-barchart></az-barchart>
  </div>
  <div class="col-xl-7 col-lg-7 col-12 bottom-30">
    <div class="card card-outline-default text-center">
      <div class="card-body p-0">
        <az-mapa-incidencias></az-mapa-incidencias>
      </div>
    </div>
  </div>
</div>

