<div id="electionContainer">
  <div id="electionMapContainer">
    <div class="row p-0 m-0">
      <div class="col-md-4 col-sm-12">
        <select class="custom-select custom-select-sm" id="provincias" (change)="onProvinceSelectChange($event.target.value)">
          <option *ngFor="let province of provinces" [value]="province.id">
            {{province.provincia}}
          </option>
        </select>
      </div>
      <div class="col-md-4 col-sm-12">
        <select class="custom-select custom-select-sm" id="provincias" (change)="onCantonesSelectChange($event.target.value)">
          <option *ngFor="let canton of cantones" [value]="canton.id">
            {{canton.canton}}
          </option>
        </select>
      </div>
      <div class="col-md-4 col-sm-12">
        <select class="custom-select custom-select-sm" id="provincias">
          <option *ngFor="let parroquia of parroquias" [value]="parroquia.id">
            {{parroquia.parroquia}}
          </option>
        </select>
      </div>
    </div>
    
    <div id="electionMapB2"></div>
  </div>
</div>
