<div class="row datamap">
    <div class="col-xl-9 col-lg-8 col-12">
        <h3 class="text-center">Elecciones 2021</h3>
        <!-- <svg width="900" height="600"></svg> -->
        <div id="tooltipContainer"></div>

        <div id="electionContainer">
            <!-- <div id="electionLegend">
              <h2>Results</h2>
            </div> -->
            <div id="electionMapContainer">
                <div id="electionMap"></div>
            </div>
        </div>
    </div>
</div>