<div class="row">
  <div class="col-xl-12 col-lg-12 col-12 bottom-30">
    <h3 class="text-center">CONTEO RÁPIDO PARA PRESIDENTE Y VICEPRESIDENTE DIFERENCIAS DE VOTACIÓN CON EL CNE</h3>
  </div>
</div>

<div class="row">
  <div class="col-xl-5 col-lg-5 col-12 bottom-30">
    <az-semiluna></az-semiluna>
    <az-queso></az-queso>
    <az-barchart></az-barchart>
  </div>
  <div class="col-xl-7 col-lg-7 col-12 bottom-30">
    <div class="card card-outline-default text-center">
      <div class="card-body p-0">
        <az-mapa-incidencias></az-mapa-incidencias>
      </div>
    </div>
  </div>
  <!-- <div class="col-xl-6 col-lg-6 col-12 bottom-30">
    <div widget class="card">
      <div class="card-header">
        <span>Diferencias</span>
        <div class="widget-controls">
          <a data-widgster="expand" href="#" class="transition"><i class="fa fa-chevron-down"></i></a>
          <a data-widgster="collapse" href="#" class="transition"><i class="fa fa-chevron-up"></i></a>
          <a data-widgster="fullscreen" href="#" class="transition"><i class="fa fa-expand"></i></a>
          <a data-widgster="restore" href="#" class="transition"><i class="fa fa-compress"></i></a>
          <a data-widgster="close" href="#" class="transition"><i class="fa fa-times"></i></a>
        </div>
      </div>
      <div class="card-body widget-body">
        <p>Detalle</p>
        <ul class="list-group">
          <li class="list-group-item d-flex justify-content-between">
            # Presidentes
            <span class="badge badge-main badge-pill">14</span>
          </li>
          <li class="list-group-item d-flex justify-content-between">
            # Asambleistas Nacionales
            <span class="badge badge-main badge-pill">22</span>
          </li>
          <li class="list-group-item d-flex justify-content-between">
            # Parlamentarios Andinos
            <span class="badge badge-main badge-pill">31</span>
          </li>
          <li class="list-group-item d-flex justify-content-between">
            # Total de Votantes
            <span class="badge badge-main badge-pill">17</span>
          </li>
        </ul>
      </div>
    </div> -->
<!-- </div>

<div class="col-xl-6 col-lg-6 col-12 bottom-30">
  <div widget class="card">
    <div class="card-header">
      <span>Gráfica de diferencias</span>
      <div class="widget-controls">
        <a data-widgster="expand" href="#" class="transition"><i class="fa fa-chevron-down"></i></a>
        <a data-widgster="collapse" href="#" class="transition"><i class="fa fa-chevron-up"></i></a>
        <a data-widgster="close" href="#" class="transition"><i class="fa fa-times"></i></a>
      </div>
    </div>
    <div class="card-body widget-body">
      <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
              [colors]="barChartColors" [legend]="barChartLegend" [chartType]="barChartTypeH"
              (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
      </canvas>
    </div>
  </div>
</div> -->
</div>
