<div class="row">
  <div class="col-xl-6 col-lg-6 col-12 bottom-30">
    <div widget class="card">
      <div class="card-header">
        <span>Tipo de incidencias</span>
        <div class="widget-controls">
          <a data-widgster="expand" href="#" class="transition"><i class="fa fa-chevron-down"></i></a>
          <a data-widgster="collapse" href="#" class="transition"><i class="fa fa-chevron-up"></i></a>
          <a data-widgster="close" href="#" class="transition"><i class="fa fa-times"></i></a>
        </div>
      </div>
      <div class="card-body widget-body">
        <canvas
                baseChart [data]="doughnutChartData"
                [labels]="doughnutChartLabels"
                [legend]="doughnutChartLegend"
                [options]="doughnutChartOptions"
                [colors]="doughnutChartColors"
                [chartType]="pieChartType"
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)">
        </canvas>
      </div>
    </div>
  </div>
  <div class="col-xl-6 col-lg-6 col-12 bottom-30">
    <div widget class="card">
      <div class="card-header">
        <span>Tramitación incidencias</span>
        <div class="widget-controls">
          <a data-widgster="expand" href="#" class="transition"><i class="fa fa-chevron-down"></i></a>
          <a data-widgster="collapse" href="#" class="transition"><i class="fa fa-chevron-up"></i></a>
          <a data-widgster="close" href="#" class="transition"><i class="fa fa-times"></i></a>
        </div>
      </div>
      <div class="card-body widget-body">
        <canvas
                baseChart
                [datasets]="barChartData"
                [labels]="barChartLabels"
                [options]="barChartOptions"
                [colors]="barChartColors"
                [legend]="barChartLegend"
                [chartType]="barChartType"
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)">
        </canvas>
      </div>
    </div>
  </div>
</div>
