<div widget class="card">
  <div class="card-header">
    <span>{{ecTitle}}</span>
    <div class="widget-controls">
      <a data-widgster="expand" href="#" class="transition"><i class="fa fa-chevron-down"></i></a>
      <a data-widgster="collapse" href="#" class="transition"><i class="fa fa-chevron-up"></i></a>
      <a data-widgster="fullscreen" href="#" class="transition"><i class="fa fa-expand"></i></a>
      <a data-widgster="restore" href="#" class="transition"><i class="fa fa-compress"></i></a>
      <a data-widgster="close" href="#" class="transition"><i class="fa fa-times"></i></a>
    </div>
  </div>
  <div class="card-body widget-body">
    <ng-content></ng-content>
  </div>
</div>
