<div class="row">
  <div class="col-xl-12 col-lg-12 col-12 bottom-30">
    <div widget class="card">
      <div class="card-header">
        <span>Exit Poll</span>
        <div class="widget-controls">
          <a data-widgster="expand" href="#" class="transition"><i class="fa fa-chevron-down"></i></a>
          <a data-widgster="collapse" href="#" class="transition"><i class="fa fa-chevron-up"></i></a>
          <a data-widgster="fullscreen" href="#" class="transition"><i class="fa fa-expand"></i></a>
          <a data-widgster="restore" href="#" class="transition"><i class="fa fa-compress"></i></a>
          <a data-widgster="close" href="#" class="transition"><i class="fa fa-times"></i></a>
        </div>
      </div>
      <div class="card-body widget-body">

        <table class="table table-hover">
          <thead>
            <tr>
              <th>First Name</th>
              <th>Last Name</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Mark</td>
              <td>Otto</td>
            </tr>
            <tr>
              <td>Jacob</td>
              <td>Thornton</td>
            </tr>
            <tr>
              <td>@twitter</td>
              <td>@twitter</td>
            </tr>
            <tr>
              <td>Urkel</td>
              <td>@steve</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

</div>