<div class="row">
  <div class="col-xl-4 col-lg-4 col-12 bottom-30">
    <az-election-card ecTitle="Personas que van a votar">
      <div canvasId="personas_votar" label="Votantes" percentValue="65" class="az-percent-circle"></div>
    </az-election-card>
  </div>
  <div class="col-xl-8 col-lg-8 col-12 bottom-30">
    <az-election-card ecTitle="Avances de participación">
      <canvas
        baseChart
        [datasets]="lineChartData"
        [labels]="lineChartLabels"
        [legend]="lineChartLegend"
        [options]="lineChartOptions"
        [colors]="lineChartColors"
        [chartType]="lineChartType"
        (chartHover)="chartHovered($event)"
        (chartClick)="chartClicked($event)">
      </canvas>
    </az-election-card>
  </div>
</div>

<div class="row">
  <div class="col-xl-4 col-lg-4 col-12 bottom-30">
    <az-election-card ecTitle="Delegados conectados">
      <div canvasId="delegados_conectados" label="Activos" percentValue="{{nDelegadosConectados}}" class="az-percent-circle"></div>
    </az-election-card>
  </div>
  <div class="col-xl-4 col-lg-4 col-12 bottom-30">
    <az-election-card ecTitle="Delegados reportando datos">
      <div canvasId="delegados_conectados" label="Reportando datos" percentValue="{{nDelegadosConectados}}" class="az-percent-circle"></div>
    </az-election-card>
  </div>
  <div class="col-xl-4 col-lg-4 col-12 bottom-30">
    <az-election-card ecTitle="Delegados conteo rápido">
      <div canvasId="delegados_conectados" label="Conteo rápido" percentValue="{{nDelegadosConectados}}" class="az-percent-circle"></div>
    </az-election-card>
  </div>
</div>
