<div class="row">
  <div class="col-xl-12 col-lg-12 col-12 bottom-30">
    <h3 class="text-center">RESUMEN ELECTORAL ELECCIONES 2021</h3>
  </div>
</div>

<div class="row">
  <div class="col-xl-4 col-lg-4 col-12 bottom-30">
    <div widget class="card">
      <div class="card-header">
        <span>Resumen Electoral</span>
        <div class="widget-controls">
          <a data-widgster="expand" href="#" class="transition"><i class="fa fa-chevron-down"></i></a>
          <a data-widgster="collapse" href="#" class="transition"><i class="fa fa-chevron-up"></i></a>
          <a data-widgster="fullscreen" href="#" class="transition"><i class="fa fa-expand"></i></a>
          <a data-widgster="restore" href="#" class="transition"><i class="fa fa-compress"></i></a>
          <a data-widgster="close" href="#" class="transition"><i class="fa fa-times"></i></a>
        </div>
      </div>
      <div class="card-body widget-body">
        <p>Detalle</p>
        <ul class="list-group">
          <li class="list-group-item d-flex justify-content-between">
            # Presidentes
            <span class="badge badge-main badge-pill">14</span>
          </li>
          <li class="list-group-item d-flex justify-content-between">
            # Asambleistas Nacionales
            <span class="badge badge-main badge-pill">22</span>
          </li>
          <li class="list-group-item d-flex justify-content-between">
            # Parlamentarios Andinos
            <span class="badge badge-main badge-pill">31</span>
          </li>
          <li class="list-group-item d-flex justify-content-between">
            # Total de Votantes
            <span class="badge badge-main badge-pill">17</span>
          </li>
        </ul>

      </div>
    </div>
    <div widget class="card">
      <div class="card-header">
        <span>Información Electoral</span>
        <div class="widget-controls">
          <a data-widgster="expand" href="#" class="transition"><i class="fa fa-chevron-down"></i></a>
          <a data-widgster="collapse" href="#" class="transition"><i class="fa fa-chevron-up"></i></a>
          <a data-widgster="fullscreen" href="#" class="transition"><i class="fa fa-expand"></i></a>
          <a data-widgster="restore" href="#" class="transition"><i class="fa fa-compress"></i></a>
          <a data-widgster="close" href="#" class="transition"><i class="fa fa-times"></i></a>
        </div>
      </div>
      <div class="card-body widget-body">

        <table class="table table-hover">
          <thead>
            <tr>
              <th>#</th>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Username</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Jacob</td>
              <td>Thornton</td>
              <td>@fat</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td colspan="2">Larry the Bird</td>
              <td>@twitter</td>
            </tr>
            <tr>
              <td scope="row">4</td>
              <td>Steve</td>
              <td>Urkel</td>
              <td>@steve</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="col-xl-8 col-lg-8 col-12 bottom-30">
    <div class="card card-outline-default text-center">
      <div class="card-body p-0">
        <az-mapa-a4></az-mapa-a4>
      </div>
    </div>
  </div>

</div>
